body {
    background-color: #2c4762;
    background-image: url("../img/brushed.png");
    color: white;
    font-family: Verdana, Arial, sans-serif;
}

br {
    line-height: 50px;
}

.header_container {
    display: inline-block;
    position: relative;
    margin: 0px;
    float: center;
    z-index: 0.5;
}

.nav {
    display: inline-block;
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    overflow: hidden;
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: #81A594;
    background-image: url("../img/dark-wood2.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    text-align: right;
    z-index: 1;
    box-shadow: 0px 0px 2px 1px #202b35;
    -webkit-transition: width 0.5s, height 0.4s;
    transition: width 0.5s, height 0.4s;
}

#nav_open {
    position: relative;
    border: none;
    background-color: #2c4762;
    font-size: 24px;
}

.nav_list {
    list-style: none;
    padding: 5px;
}

.nav_list li {
    font-size: 24px;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    display: block;
}

.nav_list li.active {
    background-color: #2c4762;
}

.nav_list li:hover {
    background-color: #3d4762;
}

.nav_list a {
    text-decoration: none;
    color: white;
}

.sublist {
    width: 100%;
    display: inline-block;
}

.sublist_content {
    background-color: white;
    opacity: 0.0;
    text-align: left;
    border-radius: 5px;
    position: relative;
    list-style: none;
    display: none;
    float: left;
    width: auto;
    height: auto;
    font-size: 18px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 1;
}

.sublist_content ul {
    list-style: none;
}

.sublist:hover .sublist_content {
    display: inline-block;
    position: absolute;
    opacity: 0.85;
    color: black;
    animation: fadeIn 1s;
}

.sublist li a {
    color: black;
}

.main_content {
    z-index: 0.5;
    position: relative;
    left: 5%;
    width: 45em;
    font-size: 24px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

/* keyframes animations */
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.85;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.85;}
}

