body {
    background-color: #2c4762;
    background-image: url("./img/brushed.png");
    color: white;
    font-family: Verdana, Arial, sans-serif;
}

br {
    line-height: 50px;
}

.header_container {
    display: inline-block;
    margin: 0px;
    float: center;
}

.main_content {
    width: 45em;
    left: 500px;
    font-size: 24px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.framed_picture {
    border: 15px solid white;
    box-shadow: 0px 8px 15px black;
}

/* keyframes animations */
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.95;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.95;}
}

@-webkit-keyframes fadeOut {
    to {opacity: 0;}
    from {opacity: 0.95;}
}

@keyframes fadeOut {
    to {opacity: 0;}
    from {opacity:0.95;}
}
