.menu_button_top, .menu_button_center, .menu_button_bottom {
  height: 4px;
  width: 28px;
  background-color: white;
  border-radius: 10px;
}

.menu_button_top, .menu_button_center {
  margin-bottom: 5px;
}

.menu_button_container {
  float: right;

}
